<div class="grid">
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
  <div class="col-3 p-3"><app-product></app-product></div>
</div>