<div class="p-2 border-round-xl surface-0">
  <div class="content p-2 text-900">
    <div 
      class="content-image bg-cover bg-no-repeat bg-center relative" 
      style="height: 247px; background-image: url(https://placehold.co/300?text=No+Image);"
    >
      <img 
        src="{{ product.img }}" 
        alt="{{ product.name }}" 
        class="w-full h-full"
        style="object-fit: cover;"
      />
    </div>

    <div class="content-info pt-1">
      <div class="flex align-items-center justify-content-between py-2">
        <h2 class="text-lg m-0 text-primary">
          {{ product.name }}
        </h2>

        <div class="flex align-items-center gap-1 justify-content-center pl-2">
          @if (isThereEnoughAmount) {
            <i class="pi pi-check-circle text-green-600"></i>
            <span class="text-xs text-white white-space-nowrap in-stock">({{ product.availableAmount }}) In Stock</span>
          }
          @else {
            <i class="pi pi-times-circle text-red-600"></i>
            @if (product.availableAmount) {
              <span class="text-xs text-white white-space-nowrap not-enough">({{ product.availableAmount }}) Not Enough</span>
            } 
            @else {
              <span class="text-xs text-white white-space-nowrap out-of-stock">Out of Stock</span>
            }
          }
        </div>
      </div>

      @if (product.minOrderAmount > 1) {
        <div class="flex align-items-center gap-1">
          <div class="text-xs">Min Order:</div>
          <span class="text-xs white-space-nowrap font-bold min-order-amount">
            {{ product.minOrderAmount }}
          </span>
        </div>
      }

      <div class="flex align-items-center gap-1 justify-content-start mt-2">
        <div class="text-xs">$</div>
        <span class="font-bold price-amount">
          {{ product.price }}
        </span>
      </div>
      
      <div class="flex align-items-center justify-content-between mt-2">
        <div class="flex align-items-center">
          <p-button 
            [link]="true"
            icon="pi pi-minus"
            aria-label="Decrease"
            class="p-0"
            (click)="decreaseAddToCartNumber()"
            class="decrease-button"
          />
          <span class="px-3 add-to-cart-amount">{{ addToCartNumber }}</span>
          <p-button 
            [link]="true"
            icon="pi pi-plus"
            aria-label="Increase"
            (click)="increaseAddToCartNumber()"
            class="increase-button"
          />
        </div>

        <p-button 
          [outlined]="true" 
          class="text-sm add-to-cart-button" 
          icon="pi pi-cart-plus"
          label="Add" 
          (click)="addToCart()"
          [severity]="canAddToCart ? 'primary' : 'secondary'"
          [disabled]="!canAddToCart"
        />
      </div>

    </div>
  </div>
</div>